@font-face {
    font-family: gilroy;
    src: url("./gilroy/Gilroy-Bold.ttf");
}
@font-face {
    font-family: "kajiro";
    src: url(./Kajiro/Kajiro\ Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html, body{
    width:100%;
    height:100%;
}
#main{
    width:100%;
    height:100vh;
    /* background-color: black; */
}
#back{
    width:100%;
    height:100vh;
    /* background-color: red; */
}
#back img{
    width:100%;
    height:100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    /* background-color: #080808ed; */

}
#workingarea{
    position:  relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* background-color: #060606; */
}
#nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}
#nav img{
    height: 60px;
}
#nleft, #nright{
    display: flex;
    align-items: center;
    gap:50px;
}
#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:650;
    /* letter-spacing: 1px; */
    color:#fff;
    font-family: gilroy;
}
#hero{
    position: absolute;
    top: 50%;
    left:0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* height: 100px; */
    /* background-color: red; */
}
#heroleft{
    min-width: 50%;
    /* height: 100px; */
    /* background-color: yellow; */
}
#heroleft .elem{
    height: 9vw;
    overflow: hidden;
    /* background-color: red; */
}
#heroleft .elem h1{
    line-height: .9;
    font-family: "kajiro";
    color: white;
    font-weight:100;
    font-size: 11vw;;
}
#heroleft button{
    pointer-events: all;
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top:2vw;
    font-family: 'kajiro';
    background-color: aliceblue;
    color:black;
    cursor:pointer;
}
#heroright{
    min-width: 25%;
    /* height: 100px; */
    /* background-color: yellow; */
}
#heroright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18%;
    /* min-width: 25%; */
    color: white;
    /* background-color:green; */

}
#heroright p{
    /* margin-bottom: 50px; */
    font-size: 14px;
    font-weight: 300;
    text-align:right;
}
#heroright #imagediv{
    width: 100%;
    height:170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url("./13_RB_Website_Sunglasses_CLP_Ferrari_Banner_Desktop.jpg");
    background-size:cover;
    background-position: center;

}
#heroright p:nth-child(3){
    margin-bottom: 100px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */



#page2{
    height: 100vh;
    width: 100vw;
    background-image: url("./Screenshot\ 2023-10-13\ 022548.png");
    background-size: cover;
}
#page2 #btn button{
    position: absolute;
    pointer-events: all;
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top:2vw;
    font-family: 'kajiro';
    background-color: rgb(236, 239, 243);
    color:black;
    cursor:pointer;

}
.btn1{
    
    position: absolute;
    display:flex;
    margin-bottom: 0px;
    margin-left: 410px;


}
.btn2{
    position: absolute;
    display:flex;
    margin-bottom: 0px;
    margin-left: 1410px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

